h1 {
    text-transform: capitalize;
}

.p_pertama {
    text-align:justify;
}

#p_kedua {
    text-decoration:underline;
}

*{
    background-color:green;
    color:white;
}

#p_tiga,#p_empat {
    text-align:center;
}

p.p_lima {
    text-decoration:line-through;
}